.sign-in{
    background: #212529;
    border-radius: 20px;
    margin: 12px auto;
    max-width: 500px;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding: 8px 24px 6px 0px;
    color: lightgray;
}

.sign-in_button{
    font-size: 20px;
    background: none;
    border-radius: 15px;
    box-shadow: none;
    border: 2px solid rgba(84, 145, 82, 0.712);
    cursor: pointer;
    padding: 4px;
    margin: 4px 8px;
    text-align: center;
    color: rgb(84, 145, 82);
}

.sign-in_button:hover{
    border: 2px solid rgba(84, 145, 82, 0.849);
    color: rgb(98, 168, 96);
}