li{
    list-style: none;
}

.header--line{
    background: #212529;
    color: rgb(84, 145, 82);
}

.header--line__wrapper{
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.header--line--icon{
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.header--line--icon:hover{
    transition: all .15s ease-in 0s;
    color: rgb(120, 190, 118);
}